@model IEnumerable<test_jurnal.Models.Entity.Raspisnie>

<div class="row">
    <div class="col-md-6 col-lg-6 ">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="center headcolor">День</th>
                        <th class="center headcolor" style="width: 50px;">Часы</th>
                        <th class="center headcolor">Название предмета</th>
                        <th class="center headcolor" style="width: 75px">Группа</th>
                        <th class="center headcolor">Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="5" class="headcolor vertical"> П о н е д е л ь н и к</td>
                        <td>8.30-10.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td >10.25-12.00</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td >12.30-14.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td>14.20-15.55</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td >16.05-17.40</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                <tr style="height: 10px; color: burlywood"></tr>

                    @*//////////////////////////*@
                    <tr>
                        <td rowspan="5" class="headcolor vertical"> В Т О Р Н И К</td>
                        <td>8.30-10.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td>10.25-12.00</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td >12.30-14.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td >14.20-15.55</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td >16.05-17.40</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    

                    <tr style="height: 10px; color: burlywood"></tr>
                @*//////////////////////////*@
                    
                    <tr>
                        <td rowspan="5" class="headcolor vertical"> С Р Е Д А</td>
                        <td>8.30-10.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td>10.25-12.00</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                   
                    <tr>
                        <td>12.30-14.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td>14.20-15.55</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    
                    <tr>
                        <td>16.05-17.40</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="center headcolor">День</th>
                        <th class="center headcolor" style="width: 50px;">Часы</th>
                        <th class="center headcolor">Название предмета</th>
                        <th class="center headcolor" style="width: 75px">Группа</th>
                        <th class="center headcolor">Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="5" class="headcolor vertical"> Ч Е Т В Е Р Г </td>
                        <td>8.30-10.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>10.25-12.00</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>12.30-14.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>14.20-15.55</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>16.05-17.40</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr style="height: 10px; color: burlywood"></tr>

                    @*//////////////////////////*@
                    <tr>
                        <td rowspan="5" class="headcolor vertical"> П Я Т Н И Ц А</td>
                        <td>8.30-10.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>10.25-12.00</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>12.30-14.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>14.20-15.55</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>16.05-17.40</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>


                    <tr style="height: 10px; color: burlywood"></tr>
                    @*//////////////////////////*@

                    <tr>
                        <td rowspan="5" class="headcolor vertical"> С У Б Б О Т А</td>
                        <td>8.30-10.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>10.25-12.00</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>12.30-14.05</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>14.20-15.55</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr>
                        <td>16.05-17.40</td>
                        <td data-toggle="modal" data-target="#modal-subject"></td>
                        <td data-toggle="modal" data-target="#modalGroup"></td>
                        <td data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                </tbody>
            </table>

        </div>
</div>



@*<div class="table-responsive">
       <table class="table table-bordered">
            <tr>
                <td class="day">ПН</td>
                <td class="day1" data-toggle="modal"
                    data-target="#modal-1">
                    @foreach (var item in Model)
                    {
                        if (item.День_недели == 1)
                        {
                            @Html.Encode((item.Номер_пары+1) + ". " + item.Название + " " + item.Номер_аудитории + " (" + item.Тип_занятия.Remove(3) + ")|" + item.Подгруппа + item.Группа1 + item.Группа2)
                        }
                    }

                </td>

                <td class="day">ВТ</td>
                <td data-toggle="modal"
                    data-target="#modal-1">
                    @foreach (var item in Model)
                    {
                        if (item.День_недели == 2)
                        {
                            @Html.Encode((item.Номер_пары + 1) + ". " + item.Название + " " + item.Номер_аудитории + " (" + item.Тип_занятия.Remove(3) + ")|" + item.Подгруппа + item.Группа1 + item.Группа2)
                        }
                    }

                </td>
            </tr>
            <tr>
                <td class="day">СР</td>
                <td data-toggle="modal"
                    data-target="#modal-1">
                    @foreach (var item in Model)
                    {
                        if (item.День_недели == 3)
                        {
                            @Html.Encode((item.Номер_пары + 1) + ". " + item.Название + " " + item.Номер_аудитории + " (" + item.Тип_занятия.Remove(3) + ")|" + item.Подгруппа + item.Группа1 + item.Группа2)
                        }
                    }

                </td>
                <td class="day">ЧТ</td>
                <td data-toggle="modal"
                    data-target="#modal-1">
                    @foreach (var item in Model)
                    {
                        if (item.День_недели == 4)
                        {
                            @Html.Encode((item.Номер_пары + 1) + ". " + item.Название + " " + item.Номер_аудитории + " (" + item.Тип_занятия.Remove(3) + ")|" + item.Подгруппа + item.Группа1 + item.Группа2)
                        }
                    }

                </td>
            </tr>
            <tr>
                <td class="day">ПТ</td>
                <td>
                    @foreach (var item in Model)
                    {
                        if (item.День_недели == 5)
                        {
                            @Html.Encode((item.Номер_пары + 1) + ". " + item.Название + " " + item.Номер_аудитории + " (" + item.Тип_занятия.Remove(3) + ")|" + item.Подгруппа + item.Группа1 + item.Группа2)
                            <br />
                        }
                    }

                </td>
                <td class="day">СБ</td>
                <td data-toggle="modal"
                    data-target="#modal-1">
                    @foreach (var item in Model)
                    {
                        if (item.День_недели == 6)
                        {
                            @Html.Encode((item.Номер_пары + 1) + ". " + item.Название + " " + item.Номер_аудитории + " (" + item.Тип_занятия.Remove(3) + ")|" + item.Подгруппа + item.Группа1 + item.Группа2)
                        }
                    }

                </td>
            </tr>
        </table>
    </div>*@

